/*
TODO(you): Write any additional styles you need here.
*/
.flashcard-box .word {
    animation-duration: 0.5s;
    animation-name: jump;
}

@keyframes jump {
    0%{
        transform:translateY(100%);
    }
    100%{
        transform:translateY(0);
    }
}